netbox-acls==1.9.1
netbox-floorplan-plugin==0.8.0
netbox-qrcode==0.0.19
netbox-inventory==2.4.1
netbox-reorder-rack==1.1.4
netbox-secrets==2.4.2
netbox-topology-views==4.4.0
netboxlabs-netbox-branching==0.8.1
slurpit_netbox==1.2.9
